
* {
    box-sizing: border-box;
    
}
  
.section-experience {
  padding : 40px;
}
/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.section-experience h1 {
  color: white;
  margin-bottom: 2vw;
}

@media screen and (max-width: 1000px) {
  .section-experience h1 {
    text-align: center;
    margin-bottom:5vw;
    font-size: 2.5rem;
  }
  
}


  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    color: rgb(0, 0, 0);
    position: relative;
    max-width: 70vw;
    height: 100%; 
    margin: 0 auto;
  }
  .bullet-list {
    list-style-type: disc; /* Use default bullet point style */
    padding-left: 20px; /* Adjust padding as needed */
  }
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

  }


  
/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: white;
  border: 4px solid #7cbde6;
  top: 30px; /* reduced from 45px */
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -0.2%;
  top: 20px; /* reduced from 40px */
  bottom: 0;  /* reduced from 10px */
}

.left-second {
  left: -0.2%;
  top: -40px; /* reduced from -80px */
  bottom: 0;  /* reduced from 10px */
}

/* Place the container to the right */
.right {
  left: 50.35%;
  top: -60px; /* reduced from -100px */
}

/* as screeen shinks reduce font-size */
ul {
  font-size: 17px;
}

/* Add arrows to the left container (pointing right) */
.left::before, .left-second::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px; /* reduced from 45px */
  width: 0;
  z-index: 1;
  right: 33px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px; /* reduced from 45px */
  width: 0;
  z-index: 1;
  left: 33px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

.right-second::after {
  left: -16px;
  top: -85px; /* reduced from -125px */
}

  /* as screeen shinks reduce font-size */
  ul {
    font-size: 17px;
  }
  





/* ...existing code... */
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 28px;
    height: 100%; 
    padding: 2vw; 
  }

  .content {
    padding: 20px 30px;
    position: relative;
    border-radius: 28px;
    height: 100%;
    padding:2vw;

    /* iOS-style glass */
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(18px) saturate(160%);
    -webkit-backdrop-filter: blur(18px) saturate(160%);

    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow:
      0 8px 30px rgba(0, 0, 0, 0.15),
      inset 0 1px 0 rgba(255, 255, 255, 0.25);

    color: white;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }

  .content:hover {
  transform: scale(1.04);
  box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.35);
  }


  .content:hover {
    /* animate box so that it gradually get bigger */
    transform: scale(1.05);
    transition: transform 0.5s;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 1000px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
      
    }
  
 
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 12px 12px 12px 0;
      border-color: transparent rgb(255, 255, 255) transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 19px;    

    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
      margin-top: 180px; 
      
    }

    

    .timeline {
      height: 90%;
    }

  }
  @media screen and (max-width: 1000px) {
    /* Adjust padding and font size for better mobile display */
    section {
      padding: 20px;
    }
  

  
    .container {
      width: 90%; /* Adjust width relative to the screen size */
      max-width: 600px; /* Set maximum width for the cards */
      margin-left: auto;
      margin-right: auto;
    }
  
    .content {
      padding: 5vw;
      width: 68vw; /* Adjust content width */
      left: 0 ; 
    }

  
  
    /* Adjust font size for better readability */
    .content h4,
    .content h2 {
      font-size: 1.0rem;
    }
  
    ul {
      font-size: 0.8rem;
    }
  
    /* Adjust the size and position of timeline points */
    .container::after {
      margin-left: -10vw ; 
      left: 0;
      visibility: hidden;
    }



  
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 35px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent rgb(255, 255, 255) transparent transparent;
    }
  

  
    /* Adjust margin for the timeline */
    .timeline {
      height: auto; /* Remove fixed height */
      margin-left: 0px;
      left: 0;

    }

    .timeline::after {
      left: 5.75vw;
      width: 3px;
    }

    
  }

  /* Remove the timeline arrows */
.left::before,
.left-second::before,
.right::before,
.container::before {
  content: none !important;
  display: none !important;
  border: 0 !important;
}
