.transparent-header {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    
}

/*change the background color of li text when hovered */
.transparent-header-nav li:hover {
    color: #555;
}

.transparent-header-nav {
    display: none;
    font-size:25px;
}



.sidebar-toggle {
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 9999;
    color: #f9f9f9; /* Initial color for the sidebar icon */
}

.sidebar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #90d6f3;
    transition: transform 0.3s ease-in-out;
}

.sidebar-toggle.open span:first-child {
    transform: rotate(45deg) translateX(5px);
}

.sidebar-toggle.open span:nth-child(2) {
    opacity: 0;
}

.sidebar-toggle.open span:last-child {
    transform: rotate(-45deg) translateX(5px);
    background-color: #000; /* Color change when the sidebar is opened */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 200vh;
    width: 200px;
    background-color: #f5f5f5;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 60px; 
}

.sidebar.open {
    transform: translateX(0);
    height: 150vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    font-size: 30px;
    padding: 10px;
}

.sidebar li:hover {
    background-color: #ccc; 
}
  
.sidebar a {
    text-decoration: none;
    color: #333;

}



.sidebar a:hover {
    color: #555;
}

@media (min-width: 1000px) {
.sidebar-toggle {
    display: none;
}

.transparent-header-nav {
    display: flex;
    justify-content: space-between;
}

.transparent-header-nav ul {
    display: flex;
    align-items: center;
}

.transparent-header-nav li {
    margin-right: 20px;
}
}
.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }
