@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    height: 40px;
    width: 40px;
    display: flex;
    margin: 0 auto;

    
}

.icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}



.logo {
    display: flex; /* Use flex display */
    align-items: center; /* Vertically align the items */
  }



  
  .software-title {
    font-size: 1.3rem; /* Adjust font size as needed */
    margin: 0; /* Remove margin from h1 element */
  }


.transparent-header {
    position: relative;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    color: white;
    
}

.sidebar-icon{
   /* center */

    display: flex;
    justify-content: center;
    align-items: center;
}

.header.visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
   
  }

/*change the background color of li text when hovered */
.transparent-header-nav li:hover {
    color: #555;
}

.transparent-header-nav {
    display: none;
    font-size:30px;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
    /* add transparency  */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    left:0;
    right: 0;
    top: 0;

}



.sidebar-toggle {
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 9999;
    color: #f9f9f9; /* Initial color for the sidebar icon */
}

.sidebar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #90d6f3;
    transition: transform 0.3s ease-in-out;
}

.sidebar-toggle.open span:first-child {
    transform: rotate(45deg) translateX(5px);
}

.sidebar-toggle.open span:nth-child(2) {
    opacity: 0;
}

.sidebar-toggle.open span:last-child {
    transform: rotate(-45deg) translateX(5px);
    background-color: #000; /* Color change when the sidebar is opened */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 200vh;
    width: 200px;
    background-color: #f5f5f5;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
    z-index: 9998;
    padding-top: 60px; 
}

.sidebar.open {
    transform: translateX(0);
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    font-size: 1rem;
    padding: 20px;
}

.sidebar li:hover {
    background-color: #ccc; 
}
  
.sidebar a {
    text-decoration: none;
    color: #333;

}



.sidebar a:hover {
    color: #555;
}

@media (min-width: 1000px) {
.sidebar-toggle {
    display: none;
}

.transparent-header-nav {
    display: flex;
    justify-content: space-between;
}

.transparent-header-nav ul {
    display: flex;
    align-items: center;
}

.transparent-header-nav li {
    margin-right: 20px;
}
}
.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }


  .header-button {
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  
  /* Header Button */
.header-button {
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    border-right: 2px solid transparent; /* Add right border */
  }
  
  .header-button:last-child {
    border-right: none; /* Remove right border for the last button */
  }
  
  .header-button:hover {
    background-color: #0056b3; /* Darker Blue */
  }
  
  /* Sidebar Button */
  .sidebar-button {
    background-color: #28a745; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    border-right: 2px solid transparent; /* Add right border */
  }
  
  .sidebar-button:last-child {
    border-right: none; /* Remove right border for the last button */
  }
  
  .sidebar-button:hover {
    background-color: #218838; /* Darker Green */
  }
  