
.skill-section {
    padding: 4rem 2rem;
}

.skill-section h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    .skill-section h2 {
        font-size: 2.5rem;
    }
    
}

.skills-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skills-category {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-width: 12rem;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.5s ease;
    padding: 1rem;
    opacity: 0;
    transform: translateY(20px);
}

.skill-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.skill-icon {
    width: 6vw;
    height: 6vw;
    margin-bottom: 1rem;
    border-radius: 20%;
    object-fit: cover;
    animation: glow 3.0s infinite alternate;
    background-color: rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0 0.1rem 0.8rem rgba(0, 0, 0, 0.798));
}

.skill-name {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .skill-item {
        width: 45%;
    }
    .skill-icon {
        width: 20vw;
        height: 20vw;
    }
    .skill-name {
        font-size: 0.8rem;
    }
}

.skill-item:hover {
    transform: scale(1.1);
}

.skills-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.navigation-button {
    background: none;
    border: none;
    color: #8a8a8a;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navigation-button:hover {
    transform: scale(1.2);
}

.slide-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.slide-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.slide-indicator.active {
    background-color: #464646;
}
